// change theme colors
$primary: #5265e1;
$secondary: #fa5959;

// add new position values
$position-values: (
  m20: -20%,
  60: 60%,
  70: 70%,
  130: 130%,
);

// add a new width and height values
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                35: 35%,
                200: 200%,
              )
            ),
        )
      ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                95: 95%,
              )
            ),
        )
      ),
  )
);

//change the font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

$font-family-sans-serif: "Rubik", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// custom css
body {
  overflow-x: hidden;
}

.btn,
.navbar-nav {
  font-size: small !important;
}

.navbar {
  max-width: 1320px;

  & .navbar-nav {
    letter-spacing: 1px;
  }
}

main .shadow-sm {
  box-shadow: 0 0.125rem 0.25rem #5265e136 !important;
}

.hero-img {
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    max-width: initial !important;
    width: 110%;
  }
}

.badge {
  z-index: -1;
}

.nav-tabs {
  --#{$prefix}nav-tabs-border-radius: 0 !important;
}

.nav .nav-item {
  @media only screen and (max-width: 768px) {
    border-top: 1px solid $gray-300;
  }
}

.nav .nav-item .nav-link {
  width: 200px;
  color: $gray-600;
  transition: none;

  &.active {
    border: 1px solid transparent;
    border-bottom: 3px solid $secondary;

    &:hover {
      border-bottom: 3px solid $secondary;
    }
  }

  &:hover {
    border: 1px solid transparent;
    transition: none;
  }
}

.card {
  max-width: 300px;

  & hr {
    opacity: 1;
    border-top: none;
    height: 4px;
    margin: -16px;
    background-image: url("../../img/bg-dots.svg");
  }

  &.shadow {
    box-shadow: 0 0.5rem 1rem #5265e11c !important;
  }
}

// media queries
@media only screen and (max-width: 1400px) {
  .navbar {
    max-width: 1140px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    max-width: 960px !important;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    max-width: 720px !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    max-width: 540px !important;
  }
}

//import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
