//styles for every component necessary for the project, including buttons, modals, etc.

/* ---------------------------- NAVBAR ---------------------------- */

.btn,
.navbar-nav {
  font-size: small !important;
}

.navbar {
  max-width: 1320px;

  & .navbar-nav {
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 1400px) {
    max-width: 1140px !important;
  }

  @media only screen and (max-width: 1200px) {
    max-width: 960px !important;
  }

  @media only screen and (max-width: 992px) {
    max-width: 720px !important;
  }

  @media only screen and (max-width: 768px) {
    max-width: 540px !important;
  }
}

/* ----------------------------- HERO ----------------------------- */

.hero-img {
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    max-width: initial !important;
    width: 110%;
  }
}

.badge {
  z-index: -1;
}

/* ------------------------- FEATURES TABS ------------------------ */

.nav-tabs {
  --#{$prefix}nav-tabs-border-radius: 0 !important;
}

.nav .nav-item {
  @media only screen and (max-width: 768px) {
    border-top: 1px solid $gray-300;
  }
}

.nav .nav-item .nav-link {
  width: 200px;
  color: $gray-600;
  transition: none;

  &.active {
    border: 1px solid transparent;
    border-bottom: 4px solid $secondary;

    &:hover {
      border-bottom: 4px solid $secondary;
    }
  }

  &:hover {
    border: 1px solid transparent;
    transition: none;
  }
}

/* ------------------------ DOWNLOAD CARDS ------------------------ */

.card {
  max-width: 300px;

  & hr {
    opacity: 1;
    border-top: none;
    height: 4px;
    margin: -16px;
    background-image: url("../../img/bg-dots.svg");
  }

  &.shadow {
    box-shadow: 0 0.5rem 1rem #5265e11c !important;
  }
}

/* ------------------------- FAQ ACCORDION ------------------------ */

.accordion-item {
  .accordion-button::after,
  .accordion-button:not(.collapsed)::after {
    background-image: url(../../img/icon-arrow.svg);
  }

  .accordion-button::after {
    background-position-y: 5px;
  }
}
