//styles for the header, footer, the grid system, etc.

body {
  overflow-x: hidden;
}

main .shadow-sm {
  box-shadow: 0 0.125rem 0.25rem #5265e136 !important;
}

section {
  margin-top: 8em;

  @media only screen and (max-width: 768px) {
    margin-top: 7em;

    h1,
    .h1 {
      font-size: calc(1.7rem + 1.8vw);
    }

    h2,
    .h2 {
      font-size: calc(1.7rem + 0.9vw);
    }
  }
}
